<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyconnectionString" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;sslmode=none;username=root;password=pass;database=library;convert zero datetime=True" />
		<add name="DefaultConnection" connectionString="server=localhost;port=3306;sslmode=none;username=root;passsword=;database=library;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>